language: ruby
rvm:
  - 2.4
  - 2.5
  - 2.6
script:
  - bundle exec rake
notifications:
  email:
    recipients:
      - fhir-testing-list@lists.mitre.org
    on_failure: change
addons:
  code_climate:
    repo_token: 0230b3379581b30743b7b4355d7394e427648e604d19a2aba987956201eee290
before_install:
  - gem update --system
  - gem install bundler
