
<div class="container">
  <div class="main">

    <% unless tls_testing_supported? %>
      <div class="alert alert-warning" role="alert">
        TLS testing does not appear to be available on this platform.
        Please read the installation instructions for more information.
      </div>
    <% end %>

    <p class='headline'>
      Inferno is an open source testing tool for HL7® FHIR® servers. It makes HTTP requests to test your server's conformance to authentication, authorization, and FHIR content standards and reports the results back to you.
    </p>

    <h2>Start Testing</h2>
    <form method="POST" action="<%=BASE_PATH%>/">
      <div class="form-group">
        <label for="fhir_server" class="endpoint-label sr-only">FHIR Server Endpoint</label>
        <div class="input-group">
          <input type="url" class="form-control form-control-lg" name="fhir_server" placeholder="http://your-fhir-server.org" aria-label="Create App">
          <span class="input-group-btn">
            <button class="btn btn-lg btn-secondary" type="submit">Begin</button>
          </span>
        </div>
      </div>
    </form>

    <div class='alert alert-warning'>
      <span class="oi oi-wrench "></span> This software is under active development.  Please report bugs and submit feature requests as <a href='https://github.com/siteadmin/inferno/issues' target="_blank">GitHub issues</a>.
    </div>

    <div class='whitespace'></div>

    <h2>What does Inferno test?</h2>
    <div class="container">
      <div class="card-deck">
        <div class="card">
          <div class='card-body'>
            <div class='logo smart'></div>
            <p>
              Inferno tests conformance to <a href="https://smarthealthit.org/" target="_blank">SMART on FHIR</a> requirements for authentication and authorization of FHIR servers, including:
              <ul>
                <li><strong>App Registration</strong> through either manual client registration or the <a href="https://tools.ietf.org/html/rfc7591" target="_blank">OAuth 2.0 Dynamic Client Registration Protocol</a>
                <li><strong>App Launch</strong> using the <a href="http://www.hl7.org/fhir/smart-app-launch/" target="_blank">SMART App Launch Framework</a> with support for both the <a href="http://www.hl7.org/fhir/smart-app-launch/#standalone-launch-sequence" target="_blank">Standalone Launch</a> and <a href="http://www.hl7.org/fhir/smart-app-launch/#ehr-launch-sequence" target="_blank">EHR Launch</a> sequences</li>
                <li><strong>Authentication</strong>, which must conform to <a href="http://openid.net/specs/openid-connect-core-1_0.html" target="_blank">OpenID Connect Core 1.0 incorporating errata set 1</a></li>
              </ul>
            </p>
          </div>
        </div>
        <div class="card">
          <div class='card-body'>
            <div class='logo argonaut'></div>
            <p>
              Inferno also tests conformance to the <a href="http://www.fhir.org/guides/argonaut/r2" target="_blank">Argonaut Data Query Implementation Guide</a> of the <a href="http://argonautwiki.hl7.org/index.php?title=Main_Page" target="_blank">Argonaut Project</a>.  Specifically, Inferno requires a publicly accessible <a href="https://www.hl7.org/fhir/DSTU2/conformance.html" target="_blank">conformance statement with OAuth endpoints</a> and support for the following DSTU2 FHIR resources:
            </p>
              <a class='badge badge-info fhir-resource-badge' href="https://www.hl7.org/fhir/DSTU2/allergyintolerance.html" target="_blank"><code>AllergyIntolerance</code></a>
              <a class='badge badge-info fhir-resource-badge' href="https://www.hl7.org/fhir/DSTU2/careplan.html" target="_blank"><code>CarePlan</code></a>
              <a class='badge badge-info fhir-resource-badge' href="https://www.hl7.org/fhir/DSTU2/condition.html" target="_blank"><code>Condition</code></a>
              <a class='badge badge-info fhir-resource-badge' href="https://www.hl7.org/fhir/DSTU2/device.html" target="_blank"><code>Device</code></a>
              <a class='badge badge-info fhir-resource-badge' href="https://www.hl7.org/fhir/DSTU2/diagnosticreport.html" target="_blank"><code>DiagnosticReport</code></a>
              <a class='badge badge-info fhir-resource-badge' href="https://www.hl7.org/fhir/DSTU2/documentreference.html" target="_blank"><code>DocumentReference</code></a>
              <a class='badge badge-info fhir-resource-badge' href="https://www.hl7.org/fhir/DSTU2/goal.html" target="_blank"><code>Goal</code></a>
              <a class='badge badge-info fhir-resource-badge' href="https://www.hl7.org/fhir/DSTU2/immunization.html" target="_blank"><code>Immunization</code></a>
              <a class='badge badge-info fhir-resource-badge' href="https://www.hl7.org/fhir/DSTU2/medication.html" target="_blank"><code>Medication</code></a>
              <a class='badge badge-info fhir-resource-badge' href="https://www.hl7.org/fhir/DSTU2/medicationorder.html" target="_blank"><code>MedicationOrder</code></a>
              <a class='badge badge-info fhir-resource-badge' href="https://www.hl7.org/fhir/DSTU2/medicationstatement.html" target="_blank"><code>MedicationStatement</code></a>
              <a class='badge badge-info fhir-resource-badge' href="https://www.hl7.org/fhir/DSTU2/observation.html" target="_blank"><code>Observation</code></a>
              <a class='badge badge-info fhir-resource-badge' href="https://www.hl7.org/fhir/DSTU2/patient.html" target="_blank"><code>Patient</code></a>
              <a class='badge badge-info fhir-resource-badge' href="https://www.hl7.org/fhir/DSTU2/procedure.html" target="_blank"><code>Procedure</code></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
