<!doctype html>
<html lang="en">
  <head>
    <title>CRUCIBLE SMART ON FHIR TEST APP</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/styles.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container">
      <a class="navbar-brand" href="/">CRUCIBLE SMART ON FHIR TEST APP</a>
        <!-- Navbar content -->
      </div>
    </nav>
    <div class="container">


      <div class="main">
        <%= yield %>
      </div>

      <div class="footer row">
        <div class="col-sm">
          Copyright
        </div>
        <div class="col-sm text-center">
          Contact
        </div>
        <div class="col-sm text-right">
          Version
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/stickyfill.min.js"></script>
    <script src="/js/app.js"></script>

  </body>
</html>
