<!doctype html>
<html lang="en">
  <head>
    <title>CRUCIBLE SMART ON FHIR TEST APP</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/smart/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/smart/static/open-iconic/css/open-iconic-bootstrap.min.css">

    <link rel="stylesheet" href="/smart/static/css/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container">
      <a class="navbar-brand" href="/smart/">CRUCIBLE SMART ON FHIR TEST APP</a>
        <!-- Navbar content -->
      </div>
    </nav>
    <%= yield %>
    <div class="container-fluid footer">
      <div class="row">
        <div class="col">
          <div class="container row">
            <div class="col-sm">
              <%# Copyright %>
            </div>
            <div class="col-sm text-center">
              <%# Contact %>
            </div>
            <div class="col-sm text-right">
              <%# Version %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Tether.js, then Popper.js, then Bootstrap JS -->
    <script src="/smart/static/js/jquery-3.2.1.min.js"></script>
    <script src="/smart/static/js/tether.min.js"></script>
    <script src="/smart/static/js/popper.min.js"></script>
    <script src="/smart/static/js/bootstrap.min.js"></script>
    <script src="/smart/static/js/stickyfill.min.js"></script>
    <script src="/smart/static/js/vkbeautify.0.99.00.beta.js"></script>
    <script src="/smart/static/js/app.js"></script>

  </body>
</html>
