<div class="result-details collapse" id="<%=sequence_class%>-details">
  <ul>
    <% sequence_result && sequence_result.test_results.each do |result, index| %>
      <%= erb(:result,{},{result: result, sequence_result: sequence_result}) %>
    <% end %>
    <% start_at = 0%>
    <% start_at = [sequence_result.test_results.length, sequence_class.tests.length].min unless sequence_result.nil? %>
    <% sequence_class.tests[start_at..-1].each do |test, index| %>
      <li style="list-style: none;">
        <div class="result-details-icon result-details-icon-pending">
          <span class="oi oi-ellipses" title="Pending" aria-hidden="true"></span>
        </div>
        <%= test[:test_id] + ': '+ test[:name] %>
      </li>
    <% end %>
  </ul>
</div>

