/* ------------------------- LAYOUT -------------------------------- */

html {
  position: relative;
  min-height: 100%;
  min-width: 960px;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../source-sans/SourceSansPro-Regular.ttf') format('truetype'),
       url('../source-sans/SourceSansPro-Bold.ttf') format('truetype'),
       url('../source-sans/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../roboto-condensed/RobotoCondensed-Bold.ttf') format('truetype');
}

html, body {
  font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6, .sequence-name, .navbar-brand {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin-bottom: 80px;
  min-width: 900px;
  background-color: #EEE;
}

.main {
  margin: 20px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #fafbfc;
}

.footer .container {
  margin: auto;
}
.inferno-branding {
  padding-left: 15px;
}
.navbar-brand {
  font-size: 2rem;
  letter-spacing: 3px;
}
.navbar-brand-subheading {
  color: white;
  display: inline-block;
  font-size: 1em;
  position: relative;
  top: -1px;
}
.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.server-actions button {
  font-size: .8em;
  color: #000;
}

.server-actions a {
  font-size: .8em;
  color: #000;
}

/* ------------------------- INDEX -------------------------------- */
.headline {
  font-size: 1.8rem;
  margin: 3rem 0;
  font-weight: 100;
}
.logo {
  width: 100%;
  height: 8rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 1rem 0;
}
.logo.smart {
  background-image: url("../images/smart.png");
}
.logo.argonaut {
  background-image: url("../images/argonaut_logo.png");
}
.fhir-resource-badge {
  font-size: 1em;
  margin: 0.2em;
}
.whitespace {
  display: block;
  height: 60px;
}

/* ------------------------- MAIN -------------------------------- */

.endpoint-label {
  font-size: 1.1em;
  font-weight: bold;

}

.form-check-input {
  margin-left: 0;
}

/* ------------------------- DETAILS -------------------------------- */

.details-server {
  background-color: #fafbfc;
  border-bottom: 1px solid #ccc;
}

.details-server .container{
  margin: auto;
  /* border-bottom: 1px solid #999; */
}

.details-server .container .col{
  padding: 0;
}

.alert strong {
  padding: .25rem .5rem;
  font-size: .875rem;
  border: 1px solid #0c5460;
  border-radius: .2rem;
  line-height: 1.5;
  font-weight: normal;

}


/* ------------------------- SEQUENCE -------------------------------- */

.sequence-header h1 {
  font-size: 1.8em;
  padding-bottom: 5px;
  margin: 15px 0 10px;
}

.sequence-header-details {
  float: right;
  margin-top: 10px;
  font-size: .7em;
}

.sequence-header-details-big {
  font-size: 1.2em;
}

.details-pass-true {
  color: #28a745;
}

.details-pass-false {
  color: #cb2431;
}

.sequence-table {
  align: left;
  text-align: left;
  width: 100%;
}

.sequence-expand-button {
  font-size: 1em;
  margin: 0;
  padding: 0;
  vertical-align: initial;
  border: none;
  color: #007bff;
}
 .sequence-expand-button:hover {
  cursor: pointer;
}

.sequence-row {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.sequence-row:hover {
  /* background-color: #fafafa;
  border-right: 1px solid #ddd; */
  /* border-right: 1px solid #ddd; */
  /* border-left: 1px solid #ddd; */
  /* border-bottom: 1px solid #aaa; */
}

.sequence-row.sequence-row-total{
  border-bottom: 0px solid #ddd;
  border-right: 0px solid #ddd;
  border-top: 4px solid #ddd;
  margin: 0;
  padding: 0;
}

.sequence-row.sequence-row-total:hover{
  background-color: white;
}

.sequence-row-total .sequence-name{
  font-size: 1.4em;
}


.sequence-main {
  margin: 0;
  padding-bottom: 0;
}

.child-test {
  padding-left: 40px;
}

.sequence-score {
  font-size: 20px;
  color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 5px;
  border-radius: 20px;
  display: inline-block;
  margin: 8px;
  margin-top: 5px;
  margin-left: 0;
}

.sequence-score-pending {
  /* background-color: #efefef; */
  border: 4px solid #aaa;
}

.sequence-score-fail {
  background-color: #cb2431;
  color: #fff;
  border: 2px solid #fff;
  padding-top: 3px;
  padding: 2px 5px 8px 6px;
}

.sequence-score-error {
  background-color: #f0f;
  color: #fff;
  border: 2px solid #fff;
  padding-top: 3px;
  padding: 3px 5px 8px 5px;
  font-weight: bold;
}

.sequence-score-pass {
  background-color: #28a745;
  color: #fff;
  border: 2px solid #fff;
}

.sequence-score-wait {
  background-color: #336699;
  color: #fff;
  border: 2px solid #fff;
}

.sequence-score-skip {
  padding-left: 1px;
  background-color: #00e1e1;
  color: #FFF;
  /* background-color: #28a745; */
  border: 2px solid #fff;
}

.sequence-title {
  font-size: 1.1em;
}

.sequence-container {
}

.sequence-collapse {
  display: inline-block;
}

.sequence-collapse .oi {
  font-size: 1.1em;
  vertical-align: middle;
  color: #999;
}

.sequence-action {
  text-align: right;
  padding: 14px 8px;
}

.sequence-action span{
  font-size: .8em;
}

.sequence-action .btn {
  margin-right: 5px;
  font-size: 1.3rem;
  cursor: pointer;
}

.sequence-action-collapse {
  display: inline-block;
  width: 20px;
}

.sequence-name {
  font-weight: bold;
  text-transform: capitalize;
  display: inline-block;
}

.sequence-out-of {
  display: inline-block;
  color: #666;
}

.sequence-details {
  font-size: .9em;
}

.sequence-message {
  display:inline-block;
  vertical-align: top;
  width: 650px;
  padding-top: 2px;
  font-size: .9em;
}

.server-state {
  margin-bottom: 15px;
  font-size: 1.2em;
  font-weight: bold;
  overflow:hidden;
  text-overflow: ellipsis;
}

.server-state-title {
  margin-top: 20px;
  font-size: 1.0em;
}

.prerequisite-tooltip {
  font-size: 1rem;
  color: darkorange;
}

.tooltip-inner ul {
  text-align: left;
  margin-left: 0;
  padding-left: 1rem;
}

/* ------------------------- CLIENT STATE POPOP -------------------------------- */

.client-state h4{
  font-size: 1.3em;
  margin: 30px 0 20px;
}

/* .client-state { */
/*   margin-top: 10px; */
/*   border: 1px solid #aaa; */
/*   border-radius: 3px; */
/*   padding: 10px; */
/*   font-size: .8em; */
/* } */
/*  */
/* .client-state-list { */
/*   padding-left: 0; */
/*   list-style: none; */
/* } */
/*  */
/* .client-state-title { */
/*   font-size: 1.2em; */
/*   font-weight: bold; */
/*   margin-bottom: 5px; */
/* } */
/*  */
/* .client-not-authenticated { */
/*   color: red; */
/* } */
/*  */
/* .client-authenticated { */
/*   color: green; */
/* } */

/* ------------------------- INLINE TEST RESULTS -------------------------------- */

.result-details {
  margin-top: 0;
  max-height: 300px;
  overflow-y: scroll;
  cursor: default;
}

.result-details ul {
  padding: 0;
  margin: 0 10px;
}

.result-details li {
  list-style: none;
  font-size: .8em;
  padding: 5px 15px 5px;
  border: 1px solid #efefef;
  border-bottom: none;
}

.result-details li:last-child {
  border-bottom: 1px solid #efefef;
}

li.result-details-clickable:hover {
  background-color: #efefef;
  cursor: pointer;
}

.result-details-icon {
  color: white;
  text-align: center;
  display: inline-block;
  margin-right: 3px;
}

.result-details-icon-pending {
  color: #000;
}

.result-details-icon-fail {
  color: #cb2431;
  padding-top: 3px;
}

.result-details-icon-fail-optional {
  color: #999;
  padding-top: 3px;
}

.result-details-icon-cancel {
  color: #cb2431;
  padding-top: 3px;
}

.result-details-icon-error {
  color: #f0f;
  padding-top: 3px;
  font-weight: bold;
  width: 11px;
}

.result-details-icon-pass {
  color: #28a745;
}

.result-details-icon-skip {
  color: #00e1e1;
}

.result-details-icon-todo {
  color: #336699;
}

.result-details-icon-wait {
  color: #336699;
}

.result-details-icon-warning {
  color: #FF9500;
  float: right;
}

.result-details-icon-requests {
  color: #336699;
  float: right;
}

.result-details-message {
  margin-left: 19px;

}

/* ------------------------- TEST RESULT POPUP -------------------------------- */

.test-result-details-body {
  height: 300px;
}

.test-result-details-title {
  font-size: 1.3em;
}

.test-result-details-message {
  margin: 5px 0;
}

.test-result-details-description {
  border: 1px solid #aaa;
  border-radius: 3px;
  margin: 5px 0;
  padding: 8px;
  font-size: .9em;
}

.test-result-details-warning{
  margin: 10px 0;
  font-size: .9em;
}

.test-result-details-warning .oi-warning{
  color: #FF9500;
}

.test-result-details-url {
  margin-top: 5px;
  display: block
}

.test-result-details-header {
  font-weight: bold;
  margin: 20px 0 5px;
  font-size: 1.2em;
}

.test-result-details-subheader {
  font-weight: bold;
  margin: 10px 0 5px 5px;
  font-size: 1.1em;
}

.test-result-details-response {
  border: 1px solid #ccc;
  font-size: .9em;
}

.test-result-details-response-header {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  background-color: #eee;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.test-result-details-response-values{
  margin-left: 10px;
}

.test-result-details-response-values ul{
  list-style: none;
  padding-left: 20px;
  overflow-x: scroll;

}

.test-result-details-message-label {
  font-weight: bold;
}

/* ------------------------- TEST RESULT POPUP -------------------------------- */

.modal-body .form-row {
  margin: 0 20px;
}
