/* ------------------------- LAYOUT -------------------------------- */

.container {
  max-width: 960px;
}

.main {
  margin: 20px 0;
}

.footer {
  margin: 10px 0;
  /* border-top: 1px solid #eee; */
  font-size: .8em;
}

.footer .container {
  margin: auto;
  padding-top: 10px;
}

/* ------------------------- MAIN -------------------------------- */

.endpoint-label {
  font-size: 1.1em;
  font-weight: bold;

}

/* ------------------------- SCORECARD -------------------------------- */

.jumbotron.scorecard-jumbotron {
  padding: 20px;
}

.scorecard-title {
  font-size: 1.8em;
  border-bottom: 1px solid #666;
  padding-bottom: 5px;
  margin: 15px 0 5px;
}

.client-state-button {
  float: right;
  margin-top: 5px;
}

.oi-print {
  font-size: .6em;

}
.scorecard-title-details {
  font-size: .5em;

}

.scorecard-table {
  align: left;
  text-align: left;
  width: 100%;
}

.scorecard-row {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.child-test {
  padding-left: 40px;
}

.scorecard-score {
  font-size: 22px;
  color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 5px;
  border-radius: 20px;
  display: inline-block;
  margin-right: 3px;
}

.scorecard-score-pending {
  background-color: #fff;
  color: #666;
  border: 2px solid #666;
}

.scorecard-score-fail {
  background-color: #f00;
  color: #fff;
  border: 2px solid #fff;
  padding-top: 3px;
  padding: 2px 5px 8px 6px;
}

.scorecard-score-error {
  background-color: #f0f;
  color: #fff;
  border: 2px solid #fff;
  padding-top: 3px;
  padding: 3px 5px 8px 5px;
  font-weight: bold;
}

.scorecard-score-pass {
  background-color: #228b22;
  color: #fff;
  border: 2px solid #fff;
}

.scorecard-score-wait {
  background-color: #336699;
  color: #fff;
  border: 2px solid #fff;
}

.scorecard-score-skip {
  background-color: #FF7F50;
  color: #FFF;
  border: 2px solid #fff;
  padding: 3px 5px 8px 8px;
}

.scorecard-rubric {
  display: inline-block;
  vertical-align: top;
}

.scorecard-container {
  display: inline-block;
  vertical-align: top;
}

.scorecard-action-collapse {
  display: inline-block;
  width: 20px;
}

.scorecard-collapse {
  display: inline-block;
}

.scorecard-collapse .oi {
  font-size: 1.1em;
  vertical-align: middle;
  color: #999;
}

.scorecard-action .btn {
  margin-right: 5px;

}


.scorecard-name {
  font-weight: bold;
  text-transform: capitalize;
  display: inline-block;
}

.scorecard-out-of {
  display: inline-block;
  font-size: .8em;
}

.scorecard-details {
  font-size: .8em;
}

.scorecard-message {
  display:inline-block;
  vertical-align: top;
  width: 650px;
  padding-top: 2px;
  font-size: .9em;
}

.scorecard-action {
  float: right;
  padding-top: 3px;
}

.server-state {
  margin-bottom: 20px;
  font-size: 2em;
}

.server-state-title {
  margin-top: 20px;
  font-size: 1.1em;
}

.details-server {
  /* background-color: #fafafa; */
}

.details-server .container{
  margin: auto;
  /* border-bottom: 1px solid #999; */
}

.details-server .container .col{
  padding: 0;
}

.client-state {
  margin-top: 10px;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 10px;
  font-size: .8em;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.client-state-list {
  padding-left: 0;
  list-style: none;
}

.client-state-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.client-not-authenticated {
  color: red;
}

.client-authenticated {
  color: green;
}

.result-details {
  margin-top: 5px;
  max-height: 300px;
  overflow-y: scroll;
  cursor: default;
}

.result-details ul {
  margin-bottom: 0;
}

.result-details li {
  list-style: none;
  font-size: .8em;
  padding: 5px 10px 5px;
  border-top: 1px solid #efefef;
}
li.result-details-clickable:hover {
  background-color: #efefef;
  cursor: pointer;
}

.result-details-icon {
  color: white;
  text-align: center;
  display: inline-block;
  margin-right: 3px;
}

.result-details-icon-pending {
  color: #000;
}

.result-details-icon-fail {
  color: #f00;
  padding-top: 3px;
}

.result-details-icon-error {
  color: #f0f;
  padding-top: 3px;
  font-weight: bold;
  width: 11px;
}

.result-details-icon-pass {
  color: #228b22;
}

.result-details-icon-skip {
  color: #00e1e1;
}

.result-details-icon-todo {
  color: #336699;
}

.result-details-icon-wait {
  color: #336699;
}

.result-details-icon-warning {
  color: #FFFF33;
}

.result-details-icon-requests {
  color: #336699;
}

.result-details-message {
  margin-left: 19px;

}

.test-result-details-body {
  height: 300px;
}

.test-result-details-title {
  font-size: 1.3em;
}

.test-result-details-message {
  margin: 5px 0;
}

.test-result-details-header {
  font-weight: bold;
  margin: 20px 0 5px;
  font-size: 1.2em;
}

.test-result-details-subheader {
  font-weight: bold;
  margin: 10px 0 5px 5px;
  font-size: 1.1em;
}

.test-result-details-response {
  border: 1px solid #ccc;
  font-size: .9em;
}

.test-result-details-response-header {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  background-color: #eee;
  display: block;
}
.test-result-details-response-values{
  margin-left: 10px;
}
.test-result-details-response-values ul{
  list-style: none;
  padding-left: 20px;
  overflow-x: scroll;

}

.test-result-details-message-label {
  font-weight: bold;
}


