/* ------------------------- LAYOUT -------------------------------- */

html {
  position: relative;
  min-height: 100%;
  min-width: 960px;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../source-sans/SourceSansPro-Regular.ttf') format('truetype'),
       url('../source-sans/SourceSansPro-Bold.ttf') format('truetype'),
       url('../source-sans/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../roboto-condensed/RobotoCondensed-Bold.ttf') format('truetype');
}

html, body {
  font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6, .sequence-name, .navbar-brand {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin-bottom: 80px;
  min-width: 900px;
  background-color: #EEE;
}

.navbar {
  z-index: 1000;
}

/* Effectively removing default breakpoints for repsonsive bootstrap container */
@media (min-width: 576px) {
  .container {
    max-width: 1000px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1000px;
  }
}

.main {
  margin: 20px 0;
}

.main a[target="_blank"]:after {
  content: url(/images/external_link.svg);
  padding: 0 5px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #fafbfc;
  z-index: 1000;
}

.footer .container {
  margin: auto;
}

.inferno-header {
  padding: 0;
  background: white;
}

.inferno-branding {
  padding-left: 15px;
}
.inferno-branding img {
  height: 70px;
}
.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.server-actions button {
  font-size: .8em;
  color: #000;
  background-color: white;
}

.server-actions a {
  font-size: .8em;
  color: #000;
}

.btn {
  cursor: pointer;
}

/* ------------------------- INDEX -------------------------------- */
.headline {
  font-size: 1.8rem;
  margin: 3rem 0;
  font-weight: 100;
}
.logo {
  width: 100%;
  height: 8rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 1rem 0;
}
.logo.smart {
  background-image: url("../images/smart.png");
}
.logo.argonaut {
  background-image: url("../images/argonaut_logo.png");
}
.fhir-resource-badge {
  font-size: 1em;
  margin: 0.2em;
}
.whitespace {
  display: block;
  height: 60px;
}

/* ------------------------- MAIN -------------------------------- */

.endpoint-label {
  font-size: 1.1em;
  font-weight: bold;

}

.form-check-input {
  margin-left: 0;
}

/* ------------------------- DETAILS -------------------------------- */

.server-info {
  background-color: #d2ccbe;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: .3em;
}

.server-info img {
  width: auto;
  height: 2em;
  opacity: 0;
  transition-property: opacity;
  transition-duration: .5s;
  margin-top:-5px;
}

.server-info .dropdown {
  display: inline-block;
}


.show-logo img {
  opacity: 1.0;
  transform: rotate(360deg);
  width: auto;
  height: 2em;
  transition: opacity 1s ease .2s,
    transform 1s ease .2s,
    width .5ms ease 0ms;
}

.show-logo .server-name {
  transition-property: margin-left;
  transition-duration: .5s;
  margin-left: 0;
  /* margin-left: 2em; */
}

.server-info .container{
  margin: auto;
  /* border-bottom: 1px solid #999; */
}

.server-info .container .col{
  padding: 0;
}

.server-info .container .col-9{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.alert strong {
  padding: .25rem .5rem;
  font-size: .875rem;
  border: 1px solid #0c5460;
  border-radius: .2rem;
  line-height: 1.5;
  font-weight: normal;

}

#PrerequisitesModal label {
  margin-bottom: .1rem;
  text-transform: uppercase;
  font-size: .9rem;
  color: #666;
}

.prerequisite-group {
  margin: -12px 0 30px 0;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #aaa;

}

.prerequisite-group-title {
  display: inline-block;
  margin-left: 20px;
  background-color: white;
  font-size: 1.1rem;
  font-weight: bold;

}
.prerequisite-group-title .oi-lock-locked{
  color: #e88a0f;
  margin-right: 5px;

}
/* ------------------------- SEQUENCE -------------------------------- */

.sequence-header h1 {
  font-size: 1.8em;
  padding-bottom: 5px;
  margin: 15px 0 10px;
}

.sequence-header-details {
  float: right;
  margin-top: 10px;
  font-size: .7em;
}

.sequence-header-details-big {
  font-size: 1.2em;
}

.details-pass-true {
  color: #28a745;
}

.details-pass-false {
  color: #cb2431;
}

.sequence-table {
  text-align: left;
  width: 100%;
}

.sequence-expand-button {
  font-size: 1em;
  margin: 0;
  padding: 0;
  vertical-align: initial;
  border: none;
  color: #007bff;
  background: none;
}
 .sequence-expand-button:hover {
  cursor: pointer;
}

.sequence-row {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.sequence-row:hover {
  /* background-color: #fafafa;
  border-right: 1px solid #ddd; */
  /* border-right: 1px solid #ddd; */
  /* border-left: 1px solid #ddd; */
  /* border-bottom: 1px solid #aaa; */
}

.sequence-row.sequence-row-total{
  border-bottom: 0px solid #ddd;
  border-right: 0px solid #ddd;
  border-top: 4px solid #ddd;
  margin: 0;
  padding: 0;
}

.sequence-row.sequence-row-total:hover{
  background-color: white;
}

.sequence-row-total .sequence-name{
  font-size: 1.4em;
}


.sequence-main {
  margin: 0;
  padding-bottom: 0;
}

.child-test {
  padding-left: 40px;
}

.sequence-anchor {
  display: block;
  position:relative;
  top: -50px;
}

.sequence-score {
  font-size: 20px;
  color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 5px;
  border-radius: 50%;
  display: inline-block;
  margin: 8px;
  margin-top: 5px;
  margin-left: 0;
}

.sequence-score-pending {
  /* background-color: #efefef; */
  border: 4px solid #aaa;
}

.sequence-score-index {
  background-color: white;
  border: 1px solid #ddd;
  color: #666;
  padding: 3px;
  font-weight: bold;
}

.sequence-score-fail {
  background-color: #cb2431;
  color: #fff;
  border: 2px solid #fff;
  padding-top: 3px;
  padding: 2px 5px 8px 6px;
}

.sequence-score-error {
  background-color: #f0f;
  color: #fff;
  border: 2px solid #fff;
  padding-top: 3px;
  padding: 3px 5px 8px 5px;
  font-weight: bold;
}

.sequence-score-pass {
  background-color: #28a745;
  color: #fff;
  border: 2px solid #fff;
}

.sequence-score-wait {
  background-color: #336699;
  color: #fff;
  border: 2px solid #fff;
}

.sequence-score-skip {
  padding-left: 1px;
  background-color: #00e1e1;
  color: #FFF;
  /* background-color: #28a745; */
  border: 2px solid #fff;
}

.group-nav-score {
  /* font-size: 1rem; */
    color: white;
    /* width: 20px;
    height: 20px; */
    text-align: center;
    /* padding-top: .5rem; */
    border-radius: 50%;
    display: inline-block;
    margin: 0;
    /* vertical-align: -.125rem; */
}

.active .group-nav-score {
  /* font-size: 1rem; */
    color: white;
    /* width: 20px;
    height: 20px; */
    text-align: center;
    /* padding-top: .5rem; */
    border-radius: 50%;
    display: inline-block;
    margin: 0;
    /* vertical-align: -.125rem; */
}

.group-nav-score-pending {
  /* background-color: #efefef; */
  border: 4px solid #aaa;
}

.group-nav-score-fail {
  /* vertical-align: 0;
  background-color: #cb2431; */
  color: #cb2431;
  /* border: 2px solid #fff;
  font-size: 1.7rem;
  padding: 8px 5px 8px 6px; */
}

.group-nav-score-error {
  background-color: #f0f;
  color: #fff;
  border: 2px solid #fff;
  padding-top: 3px;
  padding: 3px 5px 8px 5px;
  font-weight: bold;
}

.group-nav-score-pass {
  /* background-color: #28a745; */
  color: #28a745;
  /* border: 2px solid #fff; */
}

.group-nav-score-wait {
  background-color: #336699;
  color: #fff;
  border: 2px solid #fff;
}

.group-nav-score-skip {
  padding-left: 1px;
  background-color: #00e1e1;
  color: #FFF;
  /* background-color: #28a745; */
  border: 2px solid #fff;
}


.group-score {
  font-size: 2rem;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: .5rem;
    border-radius: 50%;
    display: inline-block;
    margin: 0;
    vertical-align: -.125rem;
}

.group-score-pending {
  /* background-color: #efefef; */
  border: 4px solid #aaa;
}

.group-score-fail {
  vertical-align: 0;
  background-color: #cb2431;
  color: #fff;
  border: 2px solid #fff;
  font-size: 1.7rem;
  padding: 8px 5px 8px 6px;
}

.group-score-error {
  background-color: #f0f;
  color: #fff;
  border: 2px solid #fff;
  padding-top: 3px;
  padding: 3px 5px 8px 5px;
  font-weight: bold;
}

.group-score-pass {
  background-color: #28a745;
  color: #fff;
  border: 2px solid #fff;
}

.group-score-wait {
  background-color: #336699;
  color: #fff;
  border: 2px solid #fff;
}

.group-score-skip {
  padding-left: 1px;
  background-color: #00e1e1;
  color: #FFF;
  /* background-color: #28a745; */
  border: 2px solid #fff;
}

.sequence-title {
  font-size: 1.1em;
}

.sequence-collapse {
  display: inline-block;
}

.sequence-collapse .oi {
  font-size: 1.1em;
  vertical-align: middle;
  color: #999;
}

.sequence-action {
  text-align: right;
  padding: 14px 8px;
}

.sequence-action span{
  font-size: .8em;
}

.sequence-action .btn {
  margin-right: 5px;
  font-size: 1.3rem;
  cursor: pointer;
}

.sequence-action-collapse {
  display: inline-block;
  width: 20px;
}

.sequence-name {
  font-weight: bold;
  text-transform: capitalize;
  display: inline-block;
}

.sequence-out-of {
  display: inline-block;
  color: #666;
}

.sequence-details {
  font-size: .9em;
}

.sequence-details-more {
  padding: 0;
  margin: 0;
  vertical-align: initial;
}
 .sequence-details-more:hover {
  cursor: pointer;
}

.sequence-message {
  display:inline-block;
  vertical-align: top;
  width: 650px;
  padding-top: 2px;
  font-size: .9em;
}

.server-name {
  font-size: 1.2em;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px;
  transition-property: margin-left;
  transition-duration: .5s;
  transition-delay: .2s;
  margin-left: -2em;
}

.prerequisite-tooltip {
  font-size: 1rem;
  color: darkorange;
}

.tooltip-inner ul {
  text-align: left;
  margin-left: 0;
  padding-left: 1rem;
}

/* ------------------------- CLIENT STATE POPOP -------------------------------- */

.client-state h4{
  font-size: 1.3em;
  margin: 30px 0 20px;
}

/* .client-state { */
/*   margin-top: 10px; */
/*   border: 1px solid #aaa; */
/*   border-radius: 3px; */
/*   padding: 10px; */
/*   font-size: .8em; */
/* } */
/*  */
/* .client-state-list { */
/*   padding-left: 0; */
/*   list-style: none; */
/* } */
/*  */
/* .client-state-title { */
/*   font-size: 1.2em; */
/*   font-weight: bold; */
/*   margin-bottom: 5px; */
/* } */
/*  */
/* .client-not-authenticated { */
/*   color: red; */
/* } */
/*  */
/* .client-authenticated { */
/*   color: green; */
/* } */

/* ------------------------- INLINE TEST RESULTS -------------------------------- */

.result-details {
  margin-top: 0;
  /* max-height: 300px; */
  /* overflow-y: scroll; */
  cursor: default;
}

.nav.nav-tabs.result-details-tabs {
  padding-left: 10px;
}

.nav.nav-tabs.result-details-tabs .nav-link{
  padding: .25rem .8rem;
}

.nav.nav-tabs.result-details-tabs {
  padding-left: 10px;
}


.test-list {
  padding: 0;
  margin: 0;
}

.test-list li {
  list-style: none;
  font-size: .9em;
  padding: 10px 15px;
  border-bottom: 1px solid #efefef;
}

.test-results-more, .log-request-more {
  margin: 0;
  padding: 0;
  vertical-align: initial;
  border: none;
  color: #007bff;
  background: none;
  cursor: pointer;
}

.test-list li:last-child {
  border-bottom: none;
}

.test-list-more {
  margin: 0;
  padding: 0;
  vertical-align: initial;
  border: none;
  color: #007bff;
  background: none;
  cursor: pointer;
}

.result-details-icon {
  color: white;
  text-align: center;
  display: inline-block;
  margin-right: 3px;
}

.result-details-icon-pending {
  color: #000;
}

.result-details-icon-fail {
  color: #cb2431;
  padding-top: 3px;
}

.result-details-icon-fail-optional {
  color: #999;
  padding-top: 3px;
}

.result-details-icon-cancel {
  color: #cb2431;
  padding-top: 3px;
}

.result-details-icon-error {
  color: #f0f;
  padding-top: 3px;
  font-weight: bold;
  width: 11px;
}

.result-details-icon-pass {
  color: #28a745;
}

.result-details-icon-skip {
  color: #00e1e1;
}

.result-details-icon-todo {
  color: #336699;
}

.result-details-icon-wait {
  color: #336699;
}

.result-details-icon-warning {
  color: #FF9500;
  float: right;
}

.result-details-icon-requests {
  color: #336699;
  float: right;
}

.result-details-message {
  margin-left: 19px;

}

.result-details h1{
  font-size: 1.5em;
}
 .result-details h2 {
  font-size: 1.3em;
}
 .result-details h3, .result-details h4, .result-details h5 {
  font-size: 1.1em;
}
 .more-information {
  padding: 10px;
}

/* ------------------------- TEST RESULT POPUP -------------------------------- */

.test-result-details-body {
  height: 300px;
}

.test-result-details-title {
  font-size: 1.3em;
}

.test-result-details-message {
  margin: 5px 0;
}

.test-result-details-description {
  border: 1px solid #aaa;
  border-radius: 3px;
  margin: 5px 0;
  padding: 8px;
  font-size: .9em;
}

.test-result-details-warning{
  margin: 10px 0;
  font-size: .9em;
}

.test-result-details-warning .oi-warning{
  color: #FF9500;
}

.test-result-details-url {
  margin-top: 5px;
  display: block
}

.test-result-details-header {
  font-weight: bold;
  margin: 20px 0 5px;
  font-size: 1.2em;
}

.test-result-details-subheader {
  font-weight: bold;
  margin: 10px 0 5px 5px;
  font-size: 1.1em;
}

.test-result-details-response {
  border: 1px solid #ccc;
  font-size: .9em;
}

.test-result-details-response-header {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  background-color: #eee;
  display: block;
  overflow: auto;
  text-overflow: clip;
  white-space: nowrap;
}

.test-result-details-response-values{
  margin-left: 10px;
}

.test-result-details-response-values ul{
  list-style: none;
  padding-left: 20px;
  overflow: auto;
}

.test-result-details-message-label {
  font-weight: bold;
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  transition-delay: 0 !important;
  transition-duration: 0 !important;
}

.not-supported-warning {
  font-size: 1.6em !important;
  opacity: .4;
  align-items: center;
  vertical-align: middle;
  padding-right: 1em;
}


/* guided specific view */

.guided-background-fill {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 25%;
  z-index: -1;
  background-color: white;
}

.guided .sequence-group h1 {
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
  background-color: #ddd;
}

.guided .group-steps {
  float: right;
  font-size: 1.3rem;
  color: #666;
  padding-top: .25rem;
}


.group-overview {
  font-size: 1.1rem;
  padding-left: 25px;
}
.guided .sequence-overview {
  font-size: 1.1rem;
}

.guided .group-message {
  margin: 10px 0;
  font-size: 1.1rem;
  font-weight: bold;
}

.guided .group-nav {
  /* position: absolute;
  width: 275px;
  z-index:100;
  padding: 180px 0 0;
  background-color: white;
  min-height: 100vh;
  height: 100%;
  border-right: 1px solid #d2ccbe;
  box-shadow: 4px 0 5px 0 #ddd;
  z-index: 10; */
}

.guided .group-overview{
  padding: 10px 25px;
}


.guided .group-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.guided .group-nav li{
  background-color: white;
  /* width: 100%; */
  text-align: center;
  text-transform: uppercase;
  font-size: .9rem;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.guided .group-nav li a::before{
  content: '';
  padding: 2px;
}

.guided .group-nav li a::after{
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  background:white; 
  ht: 0px;
  z-index: 5;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  right: -14px;
  top: 6px;
  border-radius: 4px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.guided .group-nav-label {
  display: inline-block;

}

.guided .group-nav li a.active::after{
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  background: #f98718;
  ht: 0px;
  z-index: 5;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  right: -14px;
  top: 6px;
}

.guided .group-nav .oi {
  padding-right: 5px;
}

.guided .group-nav li.nav-item-no-chevron {
  margin-left: 40px;
  border-radius: 5px;
}

.guided .group-nav li.nav-item-no-chevron a::after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}

.guided .prerequisite-tooltip {
  visibility: hidden;
}
  

/* .guided .group-nav li a.active::after{
   border-top-right-radius: 4px;
    background-color: #53585e;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 8px;
    z-index: 10;
    border-right: 1px solid #999;
}

.guided .group-nav li a.active::before{
   border-bottom-right-radius: 4px;
    background-color: #000;
    opacity: .8;
    content: "";
    position: absolute;
    top: 100%;
    height: 4px;
    left: 100%;
    width: 8px;
    z-index: 10;
} */


.guided .group-nav li a {
  border-radius: 0;
  color: #53585e;
}

.guided .group-nav li a.active {
  background-color: #f98718;
  color: white;
}

/* .guided .group-nav li.group-result-pass::before{
  border-radius: 50%;
  background-color: #28a745;
  content: "";
  position: absolute;
  top: 0;
  height: 2.1rem;
  left: -1.5rem;
  width: 2.1rem;
  z-index: 100;
  border: .5rem solid white;
} */

/* .guided .group-nav li.group-result-fail::before{
  border-radius: 50%;
  background-color: #cb2431;
  content: "";
  margin-left:20px;
  position: absolute;
  height: 2.1rem;
  width: 2.1rem;
  z-index: 100;
  border: .5rem solid white;
} */

.guided .sequence-table {
  margin-top: 20px;
  /* min-height: 90vh;
  margin: 20px 20px;
  padding-left: 290px;
  padding-top: 170px;
  background-color: #EEE;
  padding-bottom: 20px; */
}

.guided .sequence-row{
  margin: 13px 0 0 15px;
  padding: 8px 0 4px;
}

.guided .sequence-score {
  margin-left: -34px;
}

.guided .sequence-button {
  cursor:pointer; 
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-right: 10px;
}
.guided .sequence-button-next {
  cursor:pointer; 
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-right: 10px;
}

.guided span.oi.oi-warning.prerequisite-tooltip {
  display: none;
  width: 0;
}

.guided .group-overview-box {
  border: 1px solid #ddd;
  background-color: white;
  /* margin-left: 35px; */
  padding: 0;
  border-radius: 4px;
}

.guided a {
  color: #fb8700;
}

.guided a:hover {
  color: #fa3600;
}

.guided .sequence-group {
  background-repeat: repeat-y;
  /* background-image: url("../images/guided-background.png"); */
}

.tab-pane {
  display:none;
}
.tab-pane.active {
  display:inherit;
}

.input-instructions {


}


#group-report .print-button {

  position:absolute;
  top: 10px;
  right: 15px;
  border: 1px solid #aaa;
}

.metrics-value{
  font-size: 6em;
  margin-bottom: -30px;
}

.metrics-value-small{
  font-size: 2.5em;
  margin-bottom:-10px;
}

.report-summary{
  margin: 10px 0 10px 20px;
  padding: 8px 0;
}

.result-column{
  padding-left:50px;
}

.report-summary .col{
  flex: 1;
}

.report-result-details .test-results-more, .report-result-details .test-list-more{
  display:none;
}

@media print{
  .guided-background-fill, .footer, .server-info, .group-nav, .inferno-header{
    display:none;
  }

  #group-report{
    position: absolute;
    left: 0;
    width: 11in;
  }
}
