name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  docker_test:
    name: Docker Testing
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build Docker image
      run: docker-compose build
    - name: Run Tests in Docker
      run: docker-compose run inferno ./bin/run_tests.sh 
