name: Ruby

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['2.7.2']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: Prepare DB
      run: RACK_ENV=test bundle exec rake db:create db:schema:load
    - name: Run tests
      run: bundle exec rake
    - name: Rubocop
      run: bundle exec rubocop
    - uses: paambaati/codeclimate-action@v2.7.5
      name: Coverage
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
      with:
        coverageLocations: ${{ github.workspace }}/coverage/resultset.json:simplecov
